:root {
    --site-width: calc(120px * 7);
}

a:hover {
    text-decoration: none !important;
}

body {
    background-color: #F1F1F1;
}

option[selected] {
    background-color: lightgray;
} 

option {
    height: 44px;
    color: #44298C;
    margin: 20px;
}

footer {
    background-color: #FFFFFF;
}

.menu-item-active {
    border-bottom: 3px solid rgb(73, 0, 156);
    transition: border-width 0s linear;
}

.navbar {
    padding: 0;
}

.nav-item {
    min-width: 120px;
}

.nav-link {
    color: white !important;
    width: 100%;
}

.nav-item:hover {
    color: rgb(240, 240, 240);
    background: linear-gradient(180deg, rgb(211, 211, 211, 0.3), black);
}


.nav-bg {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1));;
}

.bg-img {
    background-image: url(img/Header-bg.png);
    background-position: bottom center;
    background-attachment: local;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-panel {
    color: #44298C;
    background: #E6E3EA;
    border: 1px solid #C7C4CE;
    font-weight: bold;
}

.courses-brief {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-piece {
    display: flex;
    justify-content: center;
}

.tabs-piece {
    width: 100%;
    background-image: linear-gradient(135deg, #550047, #5b2f87, #0b123f);
    display: flex;
    justify-content: center;
}

#learnCourseBtn {
    width: calc(100% / 3);;
}

input#name, input#surname, select#selectCourse {
    background-color: #F1F1F1;
    border: none !important;
    padding: 10px 20px;
}

.mybutton {
    background-image: linear-gradient(135deg, #9F288C, #414EB3);
}

.mybutton:hover {
    background-image: linear-gradient(135deg, #921f7f, #3545A5);
}

/* while usual menu */
@media (min-width: 992px) {
    .nav-bg {
        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1));
    }

    .tabs {
        justify-content: center;
    }
}
/* while burger-menu */
@media (max-width: 992px) {
    header div, .navbar {
        width: 100%;
    }

    .nav-bg {
        background: linear-gradient(180deg, rgb(238, 130, 238, 0.4), rgba(0, 0, 0, 1));
    }

    .tabs {
        justify-content: left;
    }
}