:root {
    --site-width: 1000px;
}

a:hover {
    text-decoration: underline !important;
}

body {
    background-color: #F1F1F1;
}

footer {
    background-color: #FFFFFF;
}

.menu-item-active {
    border-bottom: 3px solid #A8248A;
    transition: border-width 0s linear;
}

.navbar {
    padding: 0;
}

.nav-item {
    min-width: 100px;
}

.nav-link {
    color: white !important;
    width: 100%;
}

.nav-item:hover {
    color: rgb(240, 240, 240);
    background: linear-gradient(180deg, rgb(211, 211, 211, 0.3), black);
}


.nav-bg {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1));;
}

.bg-img {
    background-image: url(img/Header-bg.png);
    background-position: bottom center;
    background-attachment: local;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-panel {
    color: #44298C;
    background: #E6E3EA;
    border: 1px solid #C7C4CE;
    font-weight: bold;
}


/* while usual menu */
@media (min-width: 992px) {
    .nav-bg {
        background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1));
    }
}
/* while burger-menu */
@media (max-width: 992px) {
    .nav-bg {
        background: linear-gradient(180deg, rgb(238, 130, 238, 0.4), rgba(0, 0, 0, 1));
    }
}